{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block header %}
	{% from "hmlr/components/header/macro.njk" import hmlrHeader %}
	{{ hmlrHeader({
	  serviceName: serviceName
	}) }}
{% endblock %}

 {% block footer %}
    {% from "hmlr/components/footer/macro.njk" import hmlrFooter %}
    {{ hmlrFooter({
        meta: {
            items: [
                {
                    href: "#",
                    text: "Privacy"
                },
                {
                    href: "#",
                    text: "Accessibility"
                },
                {
                    href: "#",
                    text: "Cookies"
                },
                {
                    href: "#",
                    text: "Terms and conditions"
                }
            ]
        }
    }) }}
{% endblock %}